* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #2f4454;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    
}



header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 20vh;
    border-bottom: 2px solid #5E6262;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

nav {
    display: flex;
    flex-direction: row;
    max-width: 60%;
    
    
}



nav a{
    margin: 5px 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    animation: nav 4s ease forwards; 
    transition: .5s;
    
}

nav a:hover {
    transform: scale(1.2) translateY(5px);
}



@keyframes nav {
    from {opacity: 0;}
    to {opacity: 1;}
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #5E6262;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid black;
    padding: 10px;
}

#footer-socials {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
}


.social {
    max-height: 25px;
    max-width: 25px;
    transition: all .5s ease;
    
    
}

.social:hover {
    transform: scale(1.6) rotate(360deg);
}

#logo {
    stroke-dasharray: 631px;
    stroke-dashoffset: 631px;
    animation: logo 5s ease forwards; 
    height: 100%;
}

@keyframes logo {
    to {stroke-dashoffset: 0;}
}

#start {
    width: 80%;
    padding-top: 10vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    
    
}

#head {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, .5);
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    
}



#msg {
    margin-bottom: 50px;
}

.btn {
    width: 35%;
    border-radius: 5px 5px;
    color: white;
    background-color: black;
    margin: 20px auto;
    padding: 10px 10px;
    opacity: 0;
    box-shadow: 3px 3px black;
    
}

.btn:hover {
    transform: scale(1.2) translateX(-50px);
}

#main {
    width: 80%;
    margin: 10vh auto;
    background-color: rgba(0, 0, 0, .5);
    
}

#about-me {
    height: 1000px;
    border: 2px solid black;
    display: none;
   
    
}

#projects {
    height: 1000px;
    border: 2px solid green;
    display: none;
   
}



#certs {
    height: 1000px;
    border: 2px solid purple;
    display: none;
    
}




@media (max-width: 811px) {
    nav {
        flex-direction: column;
    }
}







