* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: #246CA2;
    
    
}

header img {
    max-width: 40px;
    transition: .5s ease;
}

header img:hover {
    
    transform: scale(1.2);
    cursor: pointer;
    
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    
} 

nav a {
    color: white;
    text-decoration: none;
    
}

nav h1 {
    font-size: 2em;
    font-family: fantasy;
    color: white;
}

#business-card {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    
}

#card-content {
    margin: 15% auto;
    background-color: #fefefe;
    width: 50%;
    border: 1px solid black;
    padding: 15px;
    animation-name: biz;
    animation-duration: .5s;
    position: relative;
    box-shadow: 2px 2px 2px black;
}

@keyframes biz {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close {
    float: right;
    color: #aaa;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#start {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#start button {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #246CA2;
    border-radius: 4px;
    border: 1px solid black;
    width: 25%;
    height: auto;
    box-shadow: black 2px 3px 5px;
    transition: .5s ease;
    padding: 5px;
}

#start button:hover {
    transform: scale(1.6);
    cursor: pointer;
    box-shadow: 2px 3px 5px black;
    
    
    
}



@media (max-width: 600px) {
    #start {
        flex-direction: column;
        justify-content: space-evenly;
    }
}